<!DOCTYPE html>
<meta charset="utf-8">

<head>
</head>

<body>

<fieldset style="width:800px;">

<p style="padding-left:25px;">{{ username }}</p>
<p style="padding-left:25px;"><a href="/ifl/logout">logout</a></p>

<hr>
<p>Sessions</p>

<table>
{% for gs_id_title in session_ids_titles %}
<tr>
<td style="padding-left:25px;">{{ gs_id_title.1 }}</td>
<td style="padding-left:25px;">session_{{ gs_id_title.0 }}</td>
<td style="padding-left:25px;"><a href="/ifl/graphsession/{{ gs_id_title.0 }}" target="_blank">resume</a></td>
<td style="padding-left:25px;"><a href="/ifl/clone/{{ gs_id_title.0 }}">clone</a></td>
<td style="padding-left:25px;"><a href="/ifl/delete/{{ gs_id_title.0 }}">delete</a></td>
</tr>
{% endfor %}
</table>

<p style="padding-left:25px;"><a href="/ifl/new">new</a></p>
<hr>
<p>Examples</p>

<table>
{% for gs_id_title in example_ids_titles %}
<tr>
<td style="padding-left:25px;">{{ gs_id_title.1 }}</td>
<td style="padding-left:25px;"><a href="/ifl/clone/{{ gs_id_title.0 }}">clone</a></td>
</tr>
{% endfor %}
</table>


</fieldset>

</body>

</html>
