<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <link rel="stylesheet" href="/ifl/ifl-static/fitlab/gui.css">
  <title>iFitLab ad-hoc Scattering Data Fitting Tool</title>
</head>

<body>

<div id="buttons" style="position:absolute;margin:auto;">
  <button id="btnUndo">Undo</button>
  <button id="btnRedo">Redo</button>
  <button id="btnRun">Run</button>
  <!--<button id="btnClearData">Clear Data</button>-->
  <!--<button id="btnPlot">Plot</button>-->
  <button id="btnIndexEdit">Plot/Edit</button>
  <button id="btnSave">Save</button>
  <button id="btnRevert">Revert</button>
  <button id="btnClear">Clear</button>
</div>
<div id="buttons_2" class=select style="position:absolute;margin:auto;">
  <a style="cursor:pointer;color:blue" onclick="cpStatusXval()">cp_x</a>
  <a style="cursor:pointer;color:blue" onclick="cpStatusYval()">cp_y</a>
  help:h
  <a href="/ifl/cloneopen/{{ gs_id }}" target="_blank">clone</a>
  <a href="/ifl/cmdlog/{{ gs_id }}" target="_blank">log</a>
</div>
<div id="status" style="position:absolute;margin:auto;"><label id="lblStatus"></label></div>

<div id="graph_menu_1" style="position:absolute;left:303px;overflow-y:hidden;overflow-x:hidden;margin:auto;margin-bottom:1px;"></div>
<div id="graph_menu_2" style="position:absolute;left:202px;overflow-y:hidden;overflow-x:hidden;margin:auto;margin-bottom:1px;"></div>
<div id="graph_menu_3" style="position:absolute;left:101px;overflow-y:hidden;overflow-x:hidden;margin:auto;margin-bottom:1px;"></div>
<div id="graph_menu_4" style="position:absolute;left:  0px;overflow-y:hidden;overflow-x:hidden;margin:auto;margin-bottom:1px;"></div>

<div id="divUserData" style="position:absolute;cursor:pointer;background-color:white;top:40px;" class=select><fieldset><legend id="lgndNodeIdNameTypeEtc">userdata</legend>
  <table id="tblUserData" style="width:460px;">
    <tr><td colspan=2><label id="lblNodeDocs"></label></td></tr>
    <tr><td colspan=2><label style="font-style:italic;" id="lblNodeInfo"></label></td></tr>
    <tr><td><label>Label:</label></td><td><input type="text" id="tbxNodeLabel" style="width:380px;"/></td></tr>
    <tr><td><label>Colour:</label></td><td><input type="text" id="tbxColour" style="width:380px;"/></td></tr>
  </table>
</fieldset></div>

<div id="divNotes" style="border:1px solid black;margin-top:-5px;position:absolute;background-color:white;width:450px" class=select>
<textarea id="tareaNotes" rows="20" style="resize:none;width:99%;border:none"></textarea>
</div>

<link rel="stylesheet" href="/ifl/ifl-static/fitlab/jquery-ui.css">
<div id="dialog" title="How to use iFitLab:">
  <ul><li><b>create</b>: click template click work area</li><li><b>delete</b>: control click node</li><li><b>select</b>: click node</li><li><b>move</b>: mouse drag node</li><li><b>connect</b>: mouse drag anchors (even if a link exists)</li><li><b>run</b>: double click node</li>
  </ul>
</div>

<!-- graph session key, must be sent along with every ajax call -->
<input id="gs_id" type="hidden" value="{{ gs_id }}">
<!-- graph session key, must be sent along with every ajax call -->
<input id="tab_id" type="hidden" value="{{ tab_id }}">
<!-- update coords call time interval -->
<input id="update_interval" type="hidden" value="{{ update_interval }}">
</body>

<script src="/ifl/ifl-static/fitlab/d3.v4.min.js"></script>
<script src="/ifl/ifl-static/fitlab/jquery.min.js"></script>
<script src="/ifl/ifl-static/fitlab/jquery-ui.js"></script>
<script src="/ifl/ifl-static/fitlab/guilib.js"></script>
<script src="/ifl/ifl-static/fitlab/gui.js"></script>
<script src="/ifl/ifl-static/fitlab/ifl.js"></script>
<script src="/ifl/ifl-static/fitlab/plotui.js"></script>
<script src="/ifl/ifl-static/fitlab/nodetypes.js"></script>
<script src="/ifl/ifl-static/fitlab/plotfuncs.js"></script>

<script>
clearUserDataPanel = function() {
  $("#lblNodeInfo").text("");
  $("#tbxNodeLabel").val("");
  $("#lgndNodeIdNameTypeEtc").html("userdata");
  $(".dynamicProperty").remove();
  $("#divUserData").hide();
}
setUserData = function(node) {
  clearUserDataPanel();
  $("#divUserData").show();

  if (!node) return;
  if (node.info) $("#lblNodeInfo").text("Info: " + JSON.stringify(node.info));
  $("#tbxNodeLabel").val(node.label);
  $("#tbxColour").val(node.gNode.colour);
  $("#lgndNodeIdNameTypeEtc").html(node.type+" "+node.id);
  $('#lblNodeDocs').html(node.docstring);

  // Why does "literal" node type get special treatment?
  // Because, it is currently the only way we have of entering actual JSON data into the graph environment...
  if (node.basetype == "object_literal") {
    let rowid = "row_42"; // some key strings have whitespaces in them...
    $("#tblUserData tbody")
      .append('<tr id="'+rowid+'" class="dynamicProperty"><td colspan=2><textarea rows="20" cols="64"></textarea></td></tr>');
    $("#"+rowid +" textarea")
      .val(JSON.stringify(node.userdata, null, 2))
      .focus( () => {
        let tarea = $("#"+rowid +" textarea");
        if (tarea.val() == "null") tarea.val("");
      })
      .change( () => {
        let tarea = $("#"+rowid +" textarea");
        let val = tarea.val().trim();

        // empty || all whitespace : set to null
        if (val == "" || val.replace(/\s/g, '').length == 0) {
          tarea.val("null");
        }
        // not likely a json structure || not all digits : encase in dquotes
        else if (['[', '{', '"'].indexOf(val[0]) == -1 && isNaN(val) ) {
          tarea.val('"'+val+'"');
        }
        // remove dict trailing comma (list trailing comma is handled by js or JSON)
        val = tarea.val().trim();
        let re = /\,[\s\n\r]*\}/
        if (val.match(re) != null) {
          tarea.val(val.replace(re, "\n}"));
        }

        // update viewmodel
        intface.node_data(node.id, tarea.val().trim());
      });
  }
  else {
    for (let key in node.userdata)
    {
      let rowid = "row_" + node.id + key.replace(/ /g, '_'); // some key strings have whitespaces in them...
      if (node.edit) {
        // build properties with textboxes for values
        $("#tblUserData tbody")
          .append('<tr id="'+rowid+'" class="dynamicProperty"><td><label/></td><td><input type="text"/></td></tr>');
        $("#"+rowid +" input")
          .val(JSON.stringify(node.userdata[key]))
          .focus( () => {
            let tarea = $("#"+rowid +" input");
            if (tarea.val() == "null") tarea.val("");
          })
          .focusout( () => {
            let tarea = $("#"+rowid +" input");
            if (tarea.val() == "") tarea.val("null");
          })
          .change( () => {
            let tarea = $("#"+rowid +" input");
            if (tarea.val() == "") tarea.val("null");
            try {
              node.userdata[key] = JSON.parse(tarea.val());
              intface.node_data(node.id, JSON.stringify(node.userdata));
            }
            catch(err) {
              tarea.val("null");
            }
          });

        $("#"+rowid +" label")
          .html(key+': ');
      }
      else {
        // build properties with labels for values
        $("#tblUserData tbody")
          .append('<tr id="'+rowid+'" class="dynamicProperty"> <td><label id="key_'+rowid+'"/></td> <td><label id="value_'+rowid+'"/></td> </tr>');
        $("#key_"+rowid)
          .html(key+': ');
        $("#value_"+rowid)
          .html(JSON.stringify(node.userdata[key]));
      }

    }
    // copy to clipboard button
    if (node.userdata) {
      // determine whether the "copy to clipboard" button should be visible...
      if (node.edit) return;
      let cnt = 0;
      for (let key in node.userdata) {
        cnt++;
      }
      if (cnt == 0) return;

      $("#copy_tc_btn")
        .remove();
      $("#tblUserData tbody")
        .append('<tr id="copy_tc_btn"><td><button id="btnCopy" class="dynamicProperty">copy dict</button></td><td><button id="btnKeys" class="dynamicProperty">copy keys</button></td></tr>');
      $("#btnCopy")
        .click(()=>{ copy2cb(node.userdata); })
      $("#btnKeys")
        .click(()=>{ copy2cb(Object.keys(node.userdata)); });
    }

  }
}

let intface = null;
let menu = null;
let subwhandler = null;
let subwindowlines = null;
let noteWindow = null;

const morecls = ["#ff0000", "#00ff00", "#0000ff", "#ffff00", "#00ff00", "#00ffff", "#ffffff", "#ddddff", "#9a7d0a"];
const nicecols = ["#117864", "#943126", "#196f3d", "#a04000", "#633974", "#1a5276", "#5f6a6a", "#212f3c", "#9a7d0a"];
const cols = d3.scaleOrdinal().range(nicecols);
let iclr = 0;

// copy value to clipboard
let copy2cb = function(value) {
  const el = document.createElement('textarea');
  if (Number(value) != value) el.value = JSON.stringify(value, null, 2);
  else el.value = value;
  document.body.appendChild(el);
  el.select();
  document.execCommand('copy');
  document.body.removeChild(el);
}

// write to ui status line
var statusConsole = function(s) {
  let status = d3.select("#status");
  status.html(s);
  status.style("left", window.innerWidth/2-status.node().clientWidth/2 + "px");
}
var statusGet = function() {
  return $("#status").html();
}
var statusPlotClick = function(x, y) {
  statusConsole("x = " + x + ", y = " + y + "");
}
let _status_xy_match = function() {
  let text = statusGet();
  let re = /x\s=\s([0-9\.e\-\+]+),\sy\s=\s([0-9\.e\-\+]+)/;
  return text.match(re);
}
var cpStatusXval = function() {
  let m = _status_xy_match();
  if (m != null) copy2cb(m[1])
}
var cpStatusYval = function() {
  let m = _status_xy_match();
  if (m != null) copy2cb(m[2]);
}

$(document).ready(() => {
  // utility
  var node_dataCB = function(id, data_str)
  {
    intface.node_data(id, data_str); setUserData(intface.getSelectedNode());
  }

  // set up events
  $("#btnUndo").click( () => { intface.undo() });
  $("#btnRedo").click( () => { intface.redo() });
  $("#btnRun").click( () => { intface.runSelectedNode() });
  //$("#btnPlot").click( () => { subwhandler.newPlotwindow(480, 100, statusPlotClick); });
  $("#btnIndexEdit").click( () => { subwhandler.newIdxEdtWindow(480, 100, node_dataCB.bind(intface), statusPlotClick ); });
  //$("#btnClearData").click( () => { intface.clearSessionData() })
  $("#btnSave").click( () => { intface.saveSession() });
  $("#btnRevert").click( () => { intface.revertSession() })
  $("#btnClear").click( () => { intface.reset() });
  clearUserDataPanel();

  // construct graph engine and add listeners
  let gs_id = $("body > #gs_id")[0].value;
  let tab_id = $("body > #tab_id")[0].value;
  intface = new GraphInterfaceIFL(gs_id, tab_id);
  intface.addNodeDataUpdateListener( (node) => {
    // clear previous subwindow elements with this id
    let x_y = subwhandler.removePlots(node.id);

    if (node.plotdata) {
      node.gNode.colour = cols(iclr++);
      node.plotdata.colour = node.gNode.colour;

      // create a new subwindow
      let xpos = node.gNode.x + 150;
      let ypos = node.gNode.y - 100;
      let width = 330;
      let height = 220;
      if (x_y) { xpos=x_y[0]; ypos=x_y[1]; }

      //let titleadd = node.label + '(' + node.id + ')';
      let titleadd = null;
      if (node.info.wtitle) titleadd = node.info.wtitle;
      //subwhandler.newPlotwindow(xpos, ypos, (x, y) => { statusPlotClick(x, y); }, titleadd, node);
      subwhandler.newIdxEdtWindow(xpos, ypos, node_dataCB.bind(intface), (x, y) => { statusPlotClick(x, y); }, node);

      // add the @node_delete cleanup function
      intface.addNodeDeletedListener( (id) => {
        // force removal with force==true:
        subwhandler.removePlots(id, true);
      });
    }

    let sn = intface.getSelectedNode();
    if (sn && node.id == sn.id) {
      setUserData(node);
    }

  }, null);

  // update server, before window close
  $(window).bind('beforeunload', () => {
    intface.updateSession();
  });
  // update server, timed
  setInterval(function() { intface.updateSession(); }.bind(intface), $("body > #update_interval")[0].value);

  // lines from nodes to plotwindows handler
  subwindowlines = new SubWindowLines(intface.draw.svg);
  intface.draw.rgstrDraw(subwindowlines.draw.bind(subwindowlines));
  intface.draw.rgstrDrawUpdate(subwindowlines.update.bind(subwindowlines));

  // plot window handler
  subwhandler = new SubWindowHandler(subwindowlines);
  intface.addNodeMouseDownListn(subwhandler.nodeMouseDown.bind(subwhandler));

  // user data controls
  let usrdiv = $("#divUserData");
  let lft = window.innerWidth - usrdiv.width();
  usrdiv.css({ left: lft, });
  usrdiv.draggable();
  intface.addNodeSelectionListener( (node) => {
    if (node) { setUserData(node); }
    else clearUserDataPanel();
  }, null);
  intface.addUiUpdateListener( () => {
    if (intface.graphData.selectedNode) {
      setUserData(intface.getSelectedNode());
    }
  }, null);
  $("#tbxNodeLabel").change( () => {
    intface.pushSelectedNodeLabel($("#tbxNodeLabel").val());
  });
  $("#tbxColour").change( () => {
    n = intface.getSelectedNode();
    if (!n) return;
    let c = $("#tbxColour").val();
    n.gNode.colour = c;
    n.plotdata.colour = c;
    // replot all instance of this node
    subwhandler.rePlot(n);
  });
  usrdiv.css({ top : 0, left : $(window)-usrdiv.width()});

  // create node menu
  let menuCB = intface.setCreateNodeConf.bind(intface)
  menu = new NodeTypeMenu(menuCB, 'graph_menu_1', 'handles');
  menu = new NodeTypeMenu(menuCB, 'graph_menu_2', 'tools');
  menu = new NodeTypeMenu(menuCB, 'graph_menu_3', 'operators');
  menu = new NodeTypeMenu(menuCB, 'graph_menu_4', 'models');

  // notes window
  let ndiv = $("#divNotes");
  let notes = $("#tareaNotes");
  noteWindow = new DragWindow($(window).width()-ndiv.width(), $(window).height()-ndiv.height()-35, ndiv.width(), ndiv.height(), "Notes", "divNotes");
  simpleajax("/ifl/ajax_get_notes", "", gs_id, tab_id, (obj) => { notes.val( atob(obj["notes"]) ); });
  notes.change( () => { simpleajax("/ifl/ajax_edt_notes", { "notes" : notes.val() }, gs_id, tab_id, (obj) => {} ); } );

  // universal noselect to prevent selection during node handling. (This does not prevent selection in textboxes etc.)
  $("body").addClass("noselect");

  // ad-hoc help dialog, shown @ keypress: h
  let dlg = $("#dialog");
  dlg.dialog();
  dlg.dialog("close");
  $("body").keypress( function(event) {
    if (event.key == "h" && event.target == this) dlg.dialog("open");
  });

  // position button menu 2 and the status bar right below it
  let h = $("#buttons").outerHeight();
  let t = $("#buttons").position().top;
  $("#buttons_2").css({ "top" : (h+t)+"px", "user-select" : "auto" });
  t = h + t;
  h = $("#buttons_2").outerHeight()
  $("#status").css({ "top" : (h+t)+"px", "user-select" : "auto" });

  // load graph and run
  intface.updateUi(); // why is this needed to get rid of the "self.draggable is null" error message?
  intface.loadSession(); // this also updates the ui...
});
</script>
</html>
