<!DOCTYPE html>
<meta charset="utf-8">

<head>
</head>

<body>
<fieldset style="width:400px;">
<legend>Add user</legend>
<form action="/ifl/signup_submit", method="post">
<table>
<tr>
<td style="padding-left:25px;">Username</td>
<td style="padding-left:25px;"><input type="text" name="username"/></td>
</tr>
<tr>
<td style="padding-left:25px;">Password</td>
<td style="padding-left:25px;"><input type="text" name="password"/></td>
</tr>
<tr>
<td></td>
<td style="text-align:right;">
  <input type="submit" value="Create"></input>
</td>
</tr>
</table>
</form>

</fieldset>
</body>

</html>
